.how-to-become-a-data-analyst-1-icon {
    position: absolute;
    top: 8px;
    left: 323px;
    width: 1207px;
    height: 200px;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #42433b;
    width: 323px;
    height: 873px;
}
.button1 {
    position: relative;
    line-height: 100%;
}
.button {
    position: absolute;
    top: 732.4px;
    left: 40px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 249px;
    height: 55.6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.analisis-sentimen-pengguna {
    position: absolute;
    top: calc(50% - 185.5px);
    left: calc(50% - 119.5px);
    font-size: 20px;
    display: inline-block;
    font-family: 'Inria Serif';
    color: #f5f5f5;
    width: 225px;
    height: 170px;
}
.logo-bsi-1 {
    position: absolute;
    top: 76.6px;
    left: 64px;
    width: 194px;
    height: 212px;
}
.button2 {
    position: absolute;
    top: 496.31px;
    left: 40px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 249px;
    height: 55.6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.button4 {
    position: absolute;
    top: 577px;
    left: 42px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 249px;
    height: 55.6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 323px;
    height: 873px;
}
.monitoring1 {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 179px);
    display: inline-block;
    width: 358px;
    height: 80px;
}
.monitoring-wrapper {
    position: absolute;
    top: calc(50% - 328.5px);
    left: calc(50% - 442px);
    width: 358px;
    height: 80px;
    font-size: 64px;
    color: #fff;
}
.mb-white-200-1-icon {
    position: absolute;
    top: 77px;
    left: 40px;
    width: 194px;
    height: 39px;
    object-fit: cover;
}
.how-to-become-a-data-analyst-1-parent {
    position: absolute;
    top: -8px;
    left: 0px;
    width: 1530px;
    height: 873px;
    font-size: 16px;
}
.button6 {
    position: absolute;
    top: 648px;
    left: 40px;
    border-radius: 8px;
    background-color: #4c73ad;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 249px;
    height: 53px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 16px;
}
.baguss-bangett-banyak {
    position: absolute;
    top: 1px;
    left: 0px;
    display: inline-block;
    width: 142px;
    height: 150px;
}
.baguss-bangett-banyak1 {
    position: absolute;
    top: 1px;
    left: 171px;
    display: inline-block;
    width: 109px;
    height: 150px;
}
.bagus-banget-banyak {
    position: absolute;
    top: 1px;
    left: 300px;
    display: inline-block;
    width: 119px;
    height: 150px;
}
.bagus-banget-banyak1 {
    position: absolute;
    top: 8px;
    left: 448px;
    display: inline-block;
    width: 94px;
    height: 143px;
}
.bagus-banget-membantu {
    position: absolute;
    top: 3px;
    left: 571px;
    display: inline-block;
    width: 124px;
    height: 148px;
}
.bagus-banget-bantu {
    position: absolute;
    top: 0px;
    left: 724px;
    display: inline-block;
    width: 101px;
    height: 140px;
}
.baguss-bangett-banyak-memban-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 825px;
    height: 151px;
}
.monitoring-inner {
    position: absolute;
    top: 638px;
    left: 422px;
    width: 825px;
    height: 151px;
}
.monitoring-child {
    position: absolute;
    top: 270px;
    left: 412px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 849px;
    height: 234px;
}
.dataset {
    position: absolute;
    top: 222px;
    left: 412px;
}
.text-preprocessing {
    position: absolute;
    top: 519px;
    left: 412px;
}
.image-3-icon {
    position: absolute;
    top: 275px;
    left: 428px;
    width: 818px;
    height: 220px;
    object-fit: cover;
}
.image {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 849px;
    height: 234px;
}
.stw-removal {
    position: absolute;
    top: 20px;
    left: 585px;
}
.stemming {
    position: absolute;
    top: 20px;
    left: 739px;
}
.case-folding {
    position: absolute;
    top: 20px;
    left: 17px;
}
.cleansing {
    position: absolute;
    top: 20px;
    left: 181px;
}
.normalisasi {
    position: absolute;
    top: 20px;
    left: 318px;
}
.tokenizing {
    position: absolute;
    top: 20px;
    left: 462px;
}
.group-item {
    position: absolute;
    top: 2px;
    left: 159px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 233px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 297px;
    width: 2px;
    height: 234px;
    object-fit: contain;
}
.line-div {
    position: absolute;
    top: 2px;
    left: 443px;
    border-right: 1px solid #000;
    box-sizing: border-box;
    width: 1px;
    height: 233px;
}
.line-icon {
    position: absolute;
    top: 2px;
    left: 566px;
    width: 2px;
    height: 232px;
    object-fit: contain;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: 721px;
    width: 2px;
    height: 234px;
    object-fit: contain;
}
.group-child2 {
    position: absolute;
    top: 57px;
    left: 1px;
    width: 848px;
    height: 5px;
    object-fit: contain;
}
.group-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 849px;
    height: 234px;
}
.group-div {
    position: absolute;
    top: 567px;
    left: 412px;
    width: 849px;
    height: 234px;
}
.monitoring-item {
    position: absolute;
    top: 557px;
    left: 398px;
    background-color: #fff;
    width: 889px;
    height: 266px;
}
.image-6-icon {
    position: absolute;
    top: 563px;
    left: 398px;
    width: 889px;
    height: 238px;
    object-fit: cover;
}
.monitoring {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 865px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Inter;
}

